[Unit]
Description=Switch off Raspberry LEDs
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/root
ExecStart=/bin/sh -c 'for led in PWR ACT; do echo 0 > /sys/class/leds/$led/brightness'
Restart=on-failure

[Install]
WantedBy=multi-user.target
